.our_value_heading{
font-weight: 600;
line-height: 98px;
color: #7AA102;
}

.our_value_logo_div{
 width: 150px;
height: 180px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
border-radius: 25px;
position: relative;

}

.our_value_logo1{
    background-image: url('../assests/images/logoimg1.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}

.accountability{
width: 150px;
height: 40px;
 font-weight: 500; 
font-size: 18px;
background: #7AA102;
color: #FFFFFF;
margin-top: 45px;
padding-top: 7px;
position: absolute;
right:0px;
border-bottom-right-radius: 21px;
border-bottom-left-radius: 21px;

}

.our_value_logo2{
    background-image: url('../assests/images/logoimg2.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}

.our_value_logo3{
    background-image: url('../assests/images/logoimg3.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}

.our_value_logo4{
    background-image: url('../assests/images/logoimg4.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}.our_value_logo5{
    background-image: url('../assests/images/logoimg5.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}

.our_value_logo6{
    background-image: url('../assests/images/logoimg6.png');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: 28px;

}

